.header {
  .backhome {
    float: left;
    width: 10%;
    line-height: 30px;
    height: 30px;
    position: relative;
    img {
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      margin: auto;
    }
  }
  .options {
    float: right;
    width: 90%;
    height: 30px;
    .uloptions {
      height: 30px;
      line-height: 30px;
      .primeoption {
        float: left;
        width: 25%;
        //position: relative;
        padding-left: 23px;
        display: inline-block;
        .dropdown{
          position: relative;
          width: 100%;
          p {
            font-size: 15px;
            font-weight: 200;
            color: #dddddd;
            margin-left: 8px;
          }
          img {
            height: 7px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
          }
        }
        .restul {
          min-height: 120px;
          overflow: hidden;
          width: 100%;
          background-color: #fff;
          position: absolute;
          top: 40px;
          left: 0;
          right: 0;
          box-shadow: 0px 0px 3px #2E2E2E;
          display: none;
          .restli {
            padding: 5px 15px;
            border-bottom: 0.5px solid #ccc;
            color: #808080;
          }
          .restli:link {
            color: #D8BB81;
          }
          .restli:hover{
            color: #D8BB81;
          }
          .restli:visited{
            color: #D8BB81;
          }
          .restli:last-child {
            border-bottom: 0px;
          }
        }
      }
      .greyblock {
        background-color: #2c2c2c;
        opacity: 0.5;
        width: 1000%;
        height: 900px;
        position: absolute;
        left: 0px;
        top: 40px;
        z-index: -1;
        display: none;
      }
    }
  }
}
.storesdetails {
  .datails {
    .datailsul {
      padding-top: 40px;
      margin-bottom: 60px;
      //overflow-y: scroll;
      //overflow-x: hidden;
      position: relative;
      overflow: hidden;
      li {
        background-color: #fff;
        display: block;
        padding-bottom: 10px;
        padding-top: 10px;
        height: 114px;
        margin-bottom: 10px;
        overflow: hidden;
        position: relative;
        .detailleft {
          float: left;
          width: 70%;
          h1 {
            font-size: 18px;
            font-weight: 200;
            margin-bottom: 18px;
            text-transform: capitalize;
            overflow-x: hidden;
            overflow-y: auto;
            white-space: nowrap;
            width: 95%;
            text-overflow: ellipsis;
            height: 22px;
            line-height: 22px;
          }
          h2 {
            font-size: 14px;
            font-weight: 900;
            margin-bottom: 18px;
          }
          .detailleftbottom {
            height: 17px;
            p {
              font-size: 12px;
              font-weight: 200;
              float: left;
              line-height: 17px;
              margin-right: 5px;
              width: 125px;
            }
            img {
              float: left;
              height: 12px;
            }
            .yellowloacl {
              float: left;
              width: 50px;
              border: 1px solid #D8BB81;
              border-radius: 2px;
              height: 17px;
              margin-right: 10px;
              padding: 2px 5px;
              h3 {
                font-size: 12px;
                font-weight: 200;
                float: right;
                color: #D8BB81;
              }
            }
            .good {
              float: left;
              width: 50px;
              border-radius: 2px;
              background-color: #D8BB81;
              height: 17px;
              padding: 2px 5px;
              h3 {
                font-size: 12px;
                font-weight: 200;
                float: right;
                color: #5A3B1B;
              }
            }
          }
        }
        .detailright {
          width: 30%;
          float: right;
          position: relative;
          height: 89px;
          img {
            width: 90px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            display: block;
            //float: right;
            margin: auto;
            border-radius: 4px;
          }
        }
        .vipsign {
          width: 0;
          height: 0;
          border-top: 50px solid rgba(216, 187, 129, 0.77);
          border-left: 50px solid transparent;
          position: absolute;
          right: 0;
          top: 0;
          img {
            position: absolute;
            right: 3px;
            width: 22px;
            float: right;
            top: -44px;
            z-index: 888;
          }
        }
      }
    }
    .datailsul::-webkit-scrollbar {
      display: none;
      width:0;
      height:0;
    }
  }
  .datails::-webkit-scrollbar {
    display: none;
    width:0;
    height:0;
  }
}
