$icon-font-path: '../fonts/';

@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

@import "reset/reset.scss";

@import "index/index.scss";

@import "storedetail/storedetail.scss";

@import "onestoredetail/onestoredetail.scss";

@import "classifystore/classifystore";

$img-path: '../';
.navigation {
  .navigationbox {
    li:first-child {
      background: url($img-path + 'images/icon/foodback.png') no-repeat center center;
      background-size: 100% 100%;
    }
    li:nth-of-type(2) {
      background: url($img-path + 'images/icon/shopback.png') no-repeat center center;
      background-size: 100% 100%;
    }
    li:nth-of-type(3) {
      background: url($img-path + 'images/icon/funback.png') no-repeat center center;
      background-size: 100% 100%;
    }
    li:nth-of-type(4) {
      background: url($img-path + 'images/icon/publicback.png') no-repeat center center;
      background-size: 100% 100%;
    }
  }
}