body {
  background-color: #F3F4F6;
}

.header {
  background: linear-gradient(to left, #111111, #3E3E3E);
  padding: 5px 5px;
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 100000000;
  top: 0;
  .headerlogo {
    height: 30px;
    float: left;
    width: 15%;
    img {
      height: 30px;
    }
  }
  .searchdiv {
    transition: width 1s;
    height: 30px;
    float: right;
    width: 85%;
    position: relative;
    input {
      border: 0;
      border-radius: 4px;
      width: 100%;
      display: inline-block;
      height: 30px;
      text-align: center;
      line-height: 30px;
      font-weight: 200;
    }
    .serchlogo{
      position: absolute;
      width: 19px;
      right: 10px;
      top: 5px;
      display: none;
    }
  }
}
.whiteblock{
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 700px;
  background-color: #fff;
  z-index: 999999;
  display: none;
  h1{
    font-size: 16px;
    font-weight: 600;
    height: 35px;
    line-height: 35px;
    margin-bottom: 10px;
  }
  ul{
    width: 100%;
    margin-bottom: 10px;
    li{
      width: 25%;
      padding: 0 10px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 14px;
      background-color: #e2e2e2;
      border-radius: 5px;
      font-weight: 400;
    }
  }
}
.banner {
  padding-top: 40px;
  width: 100%;
  height: 294px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 0px 0px 8px #d6d6d6;
  ul {
    position: relative;
    height: 208px;
    margin-bottom: 9px;
    li {
      float: left;
      width: 100%;
      height: 210px;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      filter: alpha(opacity=0);
    }
    li:first-child {
      //background: url(../../images/image/banner.png) no-repeat;
      background-size: 100% 100%;
    }
    li:nth-of-type(2) {
      //background: url(../../images/image/banner2.png) no-repeat;
      background-size: 100% 100%;
    }
    li:last-child {
      //background: url(../../images/image/banner3.png) no-repeat;
      background-size: 100% 100%;
    }
    .current {
      opacity: 1;
      filter: alpha(opacity=100);
      z-index: 200;
    }
  }
  .imgnum {
    position: absolute;
    bottom:18%;
    left: 50%;
    z-index: 999;
    width: 50px;
    .numbox {
      position: absolute;
      right: 50%;
      width: 50px;
      bottom: 5%;
      p {
        background-color: #fff;
        width: 5px;
        height: 5px;
        z-index: 999;
        float: left;
        margin-right: 15px;
        border-radius: 5px;
        border: 0;
        box-shadow: 0 0 1px rgba(128, 128, 128, 0.28);
      }
      p:last-child {
        margin-right: 0;
      }
      .default {
        background-color: black;
      }
    }
  }
  .detail{
    font-size: 16px;
    padding: 0 15px;
    font-weight: 700;
    height: 32px;
    line-height: 32px;
  }
}

.navigation {
  margin-bottom: 12px;
  .navigationbox {
    margin-top: 12px;
    min-height: 100px;
    overflow: hidden;
    li {
      height: 65px;
      width: 49%;
      border-radius: 1px;
      float: left;
      margin-bottom: 5px;
      position: relative;
      img {
        height: 50px;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }
    }
    li:first-child, li:nth-of-type(3) {
      margin-right: 2%;
    }
    li:first-child {
      background: url("../../images/icon/foodback.png") no-repeat center center;
      background-size: 100% 100%;
    }
    li:nth-of-type(2) {
      background: url("../../images/icon/shopback.png") no-repeat center center;
      background-size: 100% 100%;
    }
    li:nth-of-type(3) {
      background: url("../../images/icon/funback.png") no-repeat center center;
      background-size: 100% 100%;
    }
    li:nth-of-type(4) {
      background: url("../../images/icon/publicback.png") no-repeat center center;
      background-size: 100% 100%;
    }
  }
}

//首页一级标题
.headline {
  margin-bottom: 15px;
  position: relative;
  .headlinebox {
    width: 7px;
    height: 19px;
    border-radius: 2px;
    background-color: #D8BB81;
    float: left;
    margin-right: 10px;
  }
  p {
    font-size: 19px;
  }
  a {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    h4 {
      color: #7b7b7b;
      font-weight: 200;
      font-size: 14px;
      line-height: 19px;
      float: left;
      margin-right: 7px;
    }
    img {
      height: 19px;
      width: 10px;
      padding: 2px 0;
    }
  }
}

.hotstore {
  margin-bottom: 20px;
  .headline {
    margin-bottom: 15px;
    .headlinebox {
      width: 7px;
      height: 19px;
      border-radius: 2px;
      background-color: #D8BB81;
      float: left;
      margin-right: 10px;
    }
    p {
      font-size: 19px;
    }
  }
  .hotdetails {
    //width: 100%;
    overflow: hidden;
    position: relative;
    height: 210px;
    .hotboxdiv {
      //width: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
      //height: 100%;
      -webkit-overflow-scrolling: touch;
      padding-bottom: 50px;
      &::-webkit-scrollbar {
        display: none;
      }
      .hotbox {
        display: flex;
        &::-webkit-scrollbar {
          display: none;
        }
        li {
          float: left;
          width: 130px;
          height: 202px;
          margin-right: 10px;
          background-color: #fff;
          border-radius: 3px;
          position: relative;
          box-shadow: 0px 0px 6px #d6d6d6;
          margin-top: 4px;
          .storelogo {
            width: 130px;
            height: 120px;
            position: relative;
            overflow: hidden;
            border-radius: 3px;
            z-index: 200000;
            img {
              width: 130px;
              position: absolute;
              border-radius: 3px;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              margin: auto;
              border-radius: 3px;
              z-index: -1;
            }
          }
          .lineborder {
            height: 0.5px;
            width: 120px;
            background-color: #e4e4e4;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            top: 49px;
            display: none;
          }
          h1 {
            font-size: 15px;
            margin: 8px 5px;
            font-weight: 800;
            overflow: hidden;
            white-space: nowrap;
            width: 95%;
            text-overflow: ellipsis;
            height: 25px;
            line-height: 25px;
            z-index: 9999;
          }
          h2 {
            font-size: 15px;
            line-height: 30px;
            text-align: center;
            font-weight: 900;
            color: #A6A6A6;
          }
          p {
            font-size: 12px;
            margin: 6px 5px;
            color: #9F9F9F;
            font-weight: 300;
            height: 35px;
            line-height: 17px;
          }
        }
      }
      .hotbox::-webkit-scrollbar {
        display: none;
      }
    }
    .hotboxdiv::-webkit-scrollbar {
      display: none;
    }
  }
  .hotdetails::-webkit-scrollbar {
    display: none;
  }
}

.newstore {
  margin-bottom: 20px;
  .stores {
    width: 100%;
    min-height: 27px;
    border-radius: 4px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 6px #d6d6d6;
    ul {
      position: relative;
      height: 220px;
      li {
        float: left;
        width: 100%;
        height: 220px;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        filter: alpha(opacity=0);
        filter: alpha(opacity=0);
      }
      li:first-child {
        //background: url(../../images/image/newstore.png) no-repeat;
        background-size: 100% 100%;
      }
      li:nth-of-type(2) {
        //background: url(../../images/image/banner2.png) no-repeat;
        background-size: 100% 100%;
      }
      li:nth-of-type(3) {
        //background: url(../../images/image/banner3.png) no-repeat;
        background-size: 100% 100%;
      }
      .shownews {
        opacity: 1;
        filter: alpha(opacity=100);
        z-index: 9999;
      }
    }
    .imgnum {
      position: absolute;
      bottom: 38%;
      left: 50%;
      z-index: 99999;
      width: 50px;
      .numbox {
        position: absolute;
        right: 50%;
        width: 50px;
        bottom: 25%;
        p {
          background-color: #5D5D5D;
          width: 5px;
          height: 5px;
          z-index: 999;
          float: left;
          margin-right: 15px;
          border-radius: 5px;
          border: 0;
          box-shadow: 0 0 1px rgba(128, 128, 128, 0.28);
        }
        p:last-child {
          margin-right: 0;
        }
        .default {
          background-color: #fff;
        }
      }
    }
    .storeschar {
      background-color: #fff;
      min-height: 60px;
      overflow: hidden;
      padding-top: 10px;
      h2 {
        font-weight: 700;
        font-size: 16px;
        padding: 0 10px;
        //text-align: center;
        height: 46px;
        line-height: 23px;
        width: 100%;
      }
      h1 {
        //float: left;
        font-weight: 300;
        line-height: 20px;
        margin-left: 10px;
        height: 20px;
        margin-bottom: 7px;
        color: #7b7b7b;
      }
      .location {
        //float: right;
        min-width: 90px;
        line-height: 30px;
        position: relative;
        overflow: hidden;
        height: 30px;
        img {
          width: 10px;
          float: left;
          margin-left: 10px;
          margin-right: 10px;
          //position: absolute;
          //top: -1px;
          //left: 0;
          //bottom: 0;
          //margin: auto;
          margin-top: 8px;
        }
        p {
          font-size: 12px;
          color: #7b7b7b;
          //float: right;
          margin-right: 10px;
          //min-width: 110px;
          //text-align: right;
          overflow: hidden;
          font-weight: 300;
        }
      }
    }
  }
}

.prepay {
  margin-bottom: 20px;
  .prepayimg {
    width: 100%;
    img {
      width: 100%;
      border-radius: 4px;
      box-shadow: 0px 0px 6px #d6d6d6;
    }
  }
}

#vip {
  margin-bottom: 40px;
}

.indexover {
  position: relative;
  margin-bottom: 90px;
  .overname {
    color: #cbcbcb;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    background-color: #F3F4F6;
    z-index: 99999;
    width: 150px;
    margin: 0 auto;
    letter-spacing: 4px;
  }
  .line {
    width: 90%;
    height: 0.5px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #cbcbcb;
    z-index: -1;
  }
}

@media screen and (max-width: 376px) {
  .newstore {
    .stores {
      ul {
        height: 200px;
        li{
          height: 200px;
        }
      }
    }
  }
}